#div1, #div2, #div3, #div4, #div5, #div6 {
  height: 300px;
  width: 200px;
  margin: 20px;
  cursor: grab;
  transition: all 0.3s ease-in-out; /* Optional: smooth transition for changes */
}

#div1 {
  background-image: url("https://picsum.photos/id/237/200/300");
}

#div2 {
  background-image: url("https://picsum.photos/seed/picsum/200/300");
}

#div3 {
  background-image: url("https://picsum.photos/200/300?grayscale");
}

#div4 {
  background-image: url("https://picsum.photos/200/300/");
}

#div5 {
  background-image: url("https://picsum.photos/200/300.jpg");
}

#div6 {
  background-image: url("https://picsum.photos/id/102/200/300");
}

.container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
}

.image {
  border: 3px solid #555;
  cursor: grab;
}

.image:active {
  cursor: grabbing;
}

.selected {
  border: 5px solid rgb(0, 195, 255);
}

.dragging {
  opacity: 0.5; /* Show visual feedback for the dragged element */
}


